{% extends "base.html" %}

{% block javascript %}
<script src="/static/js/channels.js"></script>
{% endblock %}
{% block repositories_current %}current{% endblock %}
{% block content %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Creating a School Timetable - jQuery EasyUI Demo</title>
<link rel="stylesheet" type="text/css" href="/static/easyui.css">
<link rel="stylesheet" type="text/css" href="/static/icon.css">
<link rel="stylesheet" type="text/css" href="/static/demo.css">
<!-- <script type="text/javascript" src="/static/jquery.min.js"></script> -->
<script type="text/javascript" src="/static/jquery.easyui.min.js"></script>

<div style="margin:0px 0 0px 0;">
</div>
<div id="p" class="easyui-panel" title="配置大屏" style="width:100%;min-width:650px;height:800px;padding:10px;">
	<div style="width:700px;">
		<div class="leftWuNL" id="myLeft">
			<table id="terminalList" >
				<tr>
					<td class="111">终端列表：</td>
				</tr>			
				{% for terminal in terminals %}
				<tr>
					<td id="leftTD" style="padding:2px;line-height:2em;"><div class="item"><div>{{terminal.name}}</div><div hidden="hidden">{{terminal.pk}}</div></div></td>
				</tr>				
				{% endfor %}
			</table>
		</div>
		<div class="rightWuNL">
			<table id="test" >
				<tbody id="test1">

					<tr>
						{% ifequal dstList.0.0 0 %}
						<td class="drop" id="1"></td>
						{% else %}
						<td class="drop droppable" id="1"><div style="position: static;" class="item assigned"><div>{{dstList.0.1}}</div><div hidden="hidden">{{dstList.0.0}}</div></div></td>
						{% endifequal %}
					</tr>

				</tbody>


			</table>
			<div style="margin:20px 0;"></div>
			<div class="easyui-panel" style="padding:5px;width:100%;">
				<a style="width:auto;" href="/sdt-hts/configChannel/{{channelID}}/1/" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true"> <img id="logo" src="/static/images/1.png" </a>
				<a style="width:auto;" href="/sdt-hts/configChannel/{{channelID}}/4/" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true"> <img id="logo" src="/static/images/4.png"</a>
				<a style="width:auto;" href="/sdt-hts/configChannel/{{channelID}}/9/" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true"> <img id="logo" src="/static/images/9.png"</a>

			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.leftWuNL {
		width:200px;
		height:auto;
		float:left;
		border-spacing: 1px;
		border-collapse: separate;
	}
	.leftWuNL #terminalList{
		background:#E0ECFF;
		border:solid 1px blue;
		border-spacing: 1px;
		border-collapse: separate;
	}
	.leftWuNL td{
		background:#eee;
	}
	.rightWuNL {
		float:right;
		width:470px;
		height:470px;
	}
	.rightWuNL #test{
		background:#6ec3f2;
		width:470px;
		height:470px;
		border-spacing: 1px;
		border-collapse: separate;
	}
	.rightWuNL #test td{
		background:#edf1f3;
		color:#444;
		text-align:center;
		padding:2px;
		line-height: 7.3em;
	}
	.rightWuNL td{
		background:#E0ECFF;
	}
	.rightWuNL td.time{
		background:#fafafa;
		width:20px;
	}
	.rightWuNL td.title{
		background:#fafafa;
		height:20px;
	}	
	.rightWuNL .blank td{
		background:#fafafa;
		width:20px;
		height:20px;
	}					
	.rightWuNL td.drop{
		background:#fafafa;
		width:100px;
	}
	.rightWuNL td.over{
		background:#FBEC88;
	}
	.item{
		text-align:center;
		border:1px solid #499B33;
		background:#fafafa;

		color:#444;
		width:180px;
	}
	.assigned{
		border:1px solid #BC2A4D;
		width:467px;
		height: 467px;
	}
	.trash{
		background-color:red;
	}

</style>
<script>
	$.ajaxSetup ({     
		// Disable caching of AJAX responses    
		cache: false
	});
	var value1;
	var value2;
	var value3;
	var value4;
	function pushToDjango(){
		console.log("pushing");
		var csrf = $('input[name="csrfmiddlewaretoken"]').val();
		console.log(csrf);

		console.log(value1);
	};

	$(function(){
		$('.leftWuNL .item').draggable({
			revert:true,
			proxy:'clone'
		});
		$('.rightWuNL .item').draggable({
			revert:true
			// proxy:'clone'
		});
		$('.rightWuNL td.drop').droppable({
			onDragEnter:function(){
				console.log("onDragEnter")
				$(this).addClass('over');
			},
			onDragLeave:function(){
				console.log("onDragLeave")
				$(this).removeClass('over');
			},
			onDrop:function(e,source){
				$(this).removeClass('over');
				if ($(source).hasClass('assigned')){
					var c = $(source).addClass('assigned');
					$(this).empty().append(c);
					c.draggable({
						revert:true
					});		
					console.log("if");
					var name = $(source).find('div:eq(0)').html();
					var pk = $(source).find('div:eq(1)').html();
					var id = $(this).eq(0).attr('id');
					var csrf = $('input[name="csrfmiddlewaretoken"]').val();

						value1 = $("#1").find('div:eq(0)').find('div:eq(1)').html();
				
					console.log(value1,value2,value3,value4);
					$.post("/sdt-hts/configChannel/{{channelID}}/1/",{value1: value1,csrfmiddlewaretoken: csrf})						
					// location.reload(); 
				} else {
					console.log("else");
					var name = $(source).find('div:eq(0)').html();
					var pk = $(source).find('div:eq(1)').html();
					var id = $(this).eq(0).attr('id');
					var c = $(source).clone().addClass('assigned');
					$(this).empty().append(c);
					c.draggable({
						revert:true
					});



						value1 = $(source).find('div:eq(1)').html();
				
					console.log(value1,value2,value3,value4);					
					var csrf = $('input[name="csrfmiddlewaretoken"]').val();
					$.post("/sdt-hts/configChannel/{{channelID}}/1/",{value1: value1,csrfmiddlewaretoken: csrf})						


					// location.reload(); 
				}
			}
		});
		$('.leftWuNL').droppable({
			accept:'.assigned',
			onDragEnter:function(e,source){
				$(source).addClass('trash');
			},
			onDragLeave:function(e,source){
				$(source).removeClass('trash');
			},
			onDrop:function(e,source){
				$(source).remove();
				var csrf = $('input[name="csrfmiddlewaretoken"]').val();

				value1 = $("#1").find('div:eq(0)').find('div:eq(1)').html();					
				
				console.log(value1,value2,value3,value4);
				$.post("/sdt-hts/configChannel/{{channelID}}/1/",{value1: value1,csrfmiddlewaretoken: csrf})
				
			}
		});
	});


</script>
{% endblock %}