{% extends "base.html"%}

{% block javascript %}
<script src="/static/js/channels.js"></script>
{% endblock %}
{% block repositories_current %}current{% endblock %}
{% block content %}




<div class="content-box" style="width:1100px;"><!-- Start Content Add repo -->

	<div class="content-box-header">
	<h3>修改密码</h3>
	<div class="clear"></div>
	</div> <!-- End .content-box-header -->
	<div class="content-box-content" >
<form action="" method="post" id="password_change_form">
  <fieldset>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="保存修改" />
</form>		
	</div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->


{% endblock %}