
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
 
  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    
    <title>兴唐电视墙 | 登陆</title>
    
    <!--                       CSS                       -->
    
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" />
    
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
    
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <link rel="stylesheet" href="/static/css/invalid.css" type="text/css" media="screen" /> 
    
    <!-- Colour Schemes
    
    Default colour scheme is green. Uncomment prefered stylesheet to use it.
    -->
    <link rel="stylesheet" href="/static/css/blue.css" type="text/css" media="screen" />
    
   
    
    
    <!-- Internet Explorer Fixes Stylesheet -->
    
    <!--[if lte IE 7]>
      <link rel="stylesheet" href="/static/css/ie.css" type="text/css" media="screen" />
    <![endif]-->
    
    <!--                       Javascripts                       -->
    
    <!-- jQuery -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    
    <!-- jQuery Configuration -->
    <script type="text/javascript" src="/static/js/simpla.jquery.configuration.js"></script>
    
    <!-- Facebox jQuery Plugin -->
    <script type="text/javascript" src="/static/js/facebox.js"></script>
    
    <!-- jQuery WYSIWYG Plugin -->
    <script type="text/javascript" src="/static/js/jquery.wysiwyg.js"></script>
    
    <!-- Internet Explorer .png-fix -->
    
    <!--[if IE 6]>
      <script type="text/javascript" src="/static/js/DD_belatedPNG_0.0.7a.js"></script>
      <script type="text/javascript">
        DD_belatedPNG.fix('.png_bg, img, li');
      </script>
    <![endif]-->
    
  </head>
  
  <body id="login">
    
    <div id="login-wrapper" class="png_bg">
      <div id="login-top">
      
        <h1>Simpla Admin</h1>
        <!-- Logo (221px width) -->
        <img id="logo" src="/static/images/logo-sdt.png" alt="Simpla Admin logo" />
      </div> <!-- End #logn-top -->
      
      <div id="login-content">
        
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>Signin</legend>
          {% if form.errors %}
            <div class="notification error png_bg">
              <div>
                帐号密码错误,请重新输入
              </div>
            </div>
          {% else %}
            <div class="notification information png_bg">
              <div>
                默认帐号密码 : admin/admin
              </div>
            </div>
          {% endif %}
          
          
          <p>
            <label>帐号</label>
            {{ form.identification }}
          </p>
          <div class="clear"></div>
          <p>
            <label>密码</label>
            {{ form.password }}
          </p>

        <p>
        <label for="id_{{ field.name }}"> {{ form.remember_me.label }}</label>

    {{ form.remember_me }}
    


    </p>



  </fieldset>
  <input class="button" type="submit" value="登陆" />

</form>
      </div> <!-- End #login-content -->
      
    </div> <!-- End #login-wrapper -->
    
  </body>
  
</html>





